.footer__content {
  background: #333333;
  height: 176px;
}

.footer__info{
  padding: 48px 0px 64px 0px;
}
.footer__p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  width: 540px;
  margin: 0px;
  padding-left: 390px;
}
